<a href="https://colab.research.google.com/github/bhoomikaagrawal16/Compute-tasks/blob/main/Task2/Task_2_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Import NumPy

In [2]:
import numpy as np

#### Create an array of 10 zeros

In [8]:
zero = np.zeros(10)
print(zero)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

#### Create an array of 10 ones

In [9]:
one = np.ones(10)
print(one)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

#### Create an array of 10 fives

In [11]:
five = np.ones(10)*5
print(five)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

#### Create an array of the integers from 10 to 50 -!del!-

In [25]:
arr = []
for i in range(10,51):
   arr.append(i)
print(arr)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

#### Create an array of all the even integers from 10 to 50  -!del!-

In [24]:
arr2 = []
for i in range(10,51,2):
   arr2.append(i)
print(arr2)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

#### Create a 3x3 matrix with values ranging from 0 to 8

In [28]:
arr3 = np.array([[0,1,2],
             [3,4,5],
             [6,7,8]])
print(arr3)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

#### Create a 3x3 identity matrix

In [30]:
arr4 = np.identity(3)
print(arr4)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

#### Use NumPy to generate a random number between 0 and 1  -!del!-

In [33]:
a = np.random.rand()
print(a)

0.7161883277992012

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [37]:
b = np.random.randn(25)
print(b)

[-1.07062365  1.46258895 -0.06167136 -0.51362104 -1.61577889  1.36849654
  1.35039846  1.69227126 -0.36701228 -1.12134132  1.91040342 -0.19010808
 -0.42118274  0.74234241  0.09506584 -0.82467509 -0.09246482 -0.54619366
  1.22263841 -1.23008258  0.20786221 -0.84823968  0.55661868  0.04992423
  0.26774295]

#### Create the following matrix: -!del!-

In [38]:
c = np.arange(0.01, 1.01, 0.01).reshape(10, 10)
print(c)

[[0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1 ]
 [0.11 0.12 0.13 0.14 0.15 0.16 0.17 0.18 0.19 0.2 ]
 [0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28 0.29 0.3 ]
 [0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4 ]
 [0.41 0.42 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5 ]
 [0.51 0.52 0.53 0.54 0.55 0.56 0.57 0.58 0.59 0.6 ]
 [0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69 0.7 ]
 [0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8 ]
 [0.81 0.82 0.83 0.84 0.85 0.86 0.87 0.88 0.89 0.9 ]
 [0.91 0.92 0.93 0.94 0.95 0.96 0.97 0.98 0.99 1.  ]]

#### Create an array of 20 linearly spaced points between 0 and 1:

In [40]:
d = np.linspace(0,1,20)
print(d)

[0.         0.05263158 0.10526316 0.15789474 0.21052632 0.26315789
 0.31578947 0.36842105 0.42105263 0.47368421 0.52631579 0.57894737
 0.63157895 0.68421053 0.73684211 0.78947368 0.84210526 0.89473684
 0.94736842 1.        ]

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [61]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [51]:
mat2 = mat[2:5,1:5]
print(mat2)

[[12 13 14 15]
 [17 18 19 20]
 [22 23 24 25]]

In [54]:
mat3 = mat2[1,3]
print(mat3)

20

In [62]:
mat4 = mat[0:3,1].reshape(3,1)
print(mat4)

[[ 2]
 [ 7]
 [12]]

In [64]:
mat5 = mat[4]
print(mat5)

[21 22 23 24 25]

In [66]:
mat6 = mat[3:5]
print(mat6)

[[16 17 18 19 20]
 [21 22 23 24 25]]

### Now do the following

#### Get the sum of all the values in mat

In [67]:
sum = np.sum(mat)
print(sum)

325

#### Get the standard deviation of the values in mat

In [68]:
sd = np.std(mat)
print(sd)

7.211102550927978

#### Get the sum of all the columns in mat

In [70]:
sc = np.sum(mat,axis = 0)
print(sc)

[55 60 65 70 75]

#### Multiply two matrices using NumPy.

A = [[1, 2], [2, 3]]

B = [[4, 5], [6, 7]]

So, A.B = [[1*4 + 2*6, 2*4 + 3*6], [1*5 + 2*7, 2*5 + 3*7]

The computed answer will be: [[16, 26], [19, 31]]

In [71]:
A = [[1, 2], [2, 3]]

B = [[4, 5], [6, 7]]
print(np.matmul(A,B))

[[16 19]
 [26 31]]

####Replace NaN values with average of that column

Initial array :  

[[ 1.3  2.5  3.6  nan]
 [ 2.6  3.3  nan  5.5]
 [ 2.1  3.2  5.4  6.5]]

In [91]:
array = [[1.3,2.5, 3.6, np.nan],
         [2.6, 3.3, np.nan, 5.5],
         [2.1, 3.2, 5.4, 6.5]]
array = np.nan_to_num(array,nan=np.nanmean(array,axis=0))
print(array)

[[1.3 2.5 3.6 6. ]
 [2.6 3.3 4.5 5.5]
 [2.1 3.2 5.4 6.5]]

# You're done!